<!-- <div id='write' ng-controller='WriteController'> -->
<div id='write'>
  <!-- Your html here -->
  <h1>write!</h1>
  <form name="entryForm" ng-submit='addEntry()'>
    <b>Title<b><br>
    <!-- <input type="text" name="title" style="width: 700px; height:20px" ng-model='entry.title'> -->
    <textarea rows="1" cols="84" ng-model='entry.title' style="font-size:16px;border-radius:8px"></textarea>
    <br>
    <br>
    Write Something Memorable Here! <br>
    <textarea rows="20" cols="98" ng-model='entry.text' style="font-size:14px;border-radius:8px"></textarea>
    <br>
    <br>
    <h2>Word Count: {{ wordcount }}</h2>
    <!-- <input name="wordcount" type="text" value="" size="6"> -->
    <br>
    <button ng-click='clearWordCount()'>save   </button>
    <button ng-click='clearAll()'>clear all</button>
    <br>
    <br>
  </form>
</div>