<!-- <div id='write' ng-controller='WriteController'> -->
<div id='write'>
  <!-- Your html here -->
  <h1>write!</h1>
  <form name="entryForm" ng-submit='addEntry()'>
    <b>Title<b><br>
    <input type="text" name="title" style="width: 700px; height:20px" ng-model='entry.title'>
    <br>
    <br>
    Write Something Memorable Here! <br>
    <input type="text" name="text" style="width: 700px; height:300px" ng-model='entry.text'>
    <br>
    <br>
    <button>save   </button>
    <button ng-click='clearAll()'>clear all</button>
    <br>
    <br>
  </form>
</div>