<!-- <div id="search" ng-controller="SearchController"> -->
<div id="search">
  <h1>Search Your Memories</h1>
  <form name="searchForm" ng-submit='getEntries(search)'>
    <input type="text" name="search" style="width: 200px; height:20px" placeholder="please enter a keyword" ng-model='search'>
    <button>search my journal   </button>
  </form>
    <br>
    <button ng-click='clearAll()'>clear all</button>
  <br>
  <br>
  <br>
  <div class='entry' style='width:600px;margin:0px auto;border:1px solid;border-radius:15px;margin-bottom:20px;padding:10px 10px; ' ng-repeat='entry in data.entries.slice().reverse() | filter:search'>
    <!-- <img src='/assets/redirect_icon.png'/> -->
    <!-- <div class='userid'>{{entry.userid}}</div> -->
    <div class='title' style='font-weight:bold;'>Title: {{entry.title}}</div>
    <div class='date' style='font-style:italic;'>Date Created: {{entry.date}}</div>
    <br>
    <div class='text'style='text-align:left;'>{{entry.text}}</div>
    <br>
    <br>
  </div>
</div>






